---
layout: default
title: Meet The Team
description: Welcome to the Encompass team page where you can read more about who is involved in the research and programme delivery
permalink: /team/
image: '/images/logo.png'
---

<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">
          {% if page.title %}
          <h1 class="hero__title">{{ page.title }}</h1>
          {% endif %}
          {% if page.description %}
          <p class="hero__description">{{ page.description }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->

<!-- begin researchers -->
<section class="section authors animate">
  <div class="container">
    <div class="section__inner">
      <div class="row">
        {% assign sorted_researchers = site.researchers | sort: "order" %}
        {% for researcher in sorted_researchers %}
        <div class="col col-4 col-w-6 col-t-12">
          <div class="authors__info">
            <a class="authors__image" href="{{ site.baseurl }}{{ researcher.url }}">
              <img class="lazy" data-src="{{ site.baseurl }}{{ researcher.image }}" alt="{{ researcher.name }}">
            </a>
            <div class="authors__meta">
              <h2 class="authors__name"><a class="authors__link" href="{{ researcher.url }}">{{ researcher.name }}</a></h2>
            </div>
          </div>
        </div>
        {% endfor %}
        {% assign sorted_advisors = site.advisors | sort: "order" %}
        {% for advisor in sorted_advisors %}
        <div class="col col-4 col-w-6 col-t-12">
          <div class="authors__info">
            <a class="authors__image" href="{{ site.baseurl }}{{ advisor.url }}">
              <img class="lazy" data-src="{{ site.baseurl }}{{ advisor.image }}" alt="{{ advisor.name }}">
            </a>
            <div class="authors__meta">
              <h2 class="authors__name"><a class="authors__link" href="{{ site.baseurl }}{{ advisor.url }}">{{ advisor.name }}</a></h2>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- end researchers -->
